{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Your Django Website</title>
        <meta name="description" content="Your website description goes here">
        <meta name="keywords" content="your, keywords, here">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="top-bar">
            <div class="header">
                <h1>
                    {% block page_title %}Your Django Website{% endblock %}
                </h1>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'practice' %}">Practice</a>
                    </li>
                    <li>
                        <a href="{% url 'protected' %}">Protected</a>
                    </li>
                    <li>
                        <a href="{% url 'item-list' %}">Items</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Log In</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'admin:index' %}">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="footer">{% include 'footer.html' %}</div>
    </body>
</html>
